<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<br>
<br>
<br>
<br>
<p> This is the home of the landing page </p>

<p> <%= link_to "Sign Up" , new_organisation_registration_path %> </p>
