




<br>
<br>
<form action="<%= join_organisation_path(@organisation) %>" method="post">
  Email:<br>
  <input type="text" name="email"><br>
  Password:<br>
  <input type="password" name="password">
  <input type="submit" value="Submit">
</form>