<div class="row wrapper border-bottom page-heading">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">
                    <div class="row">
                        <div class="col-lg-3">
                        </div>
                        <div class="col-lg-5">
                            <div class="form-group">
                                <input type="text" class="form-control input-lg m-b" placeholder="Type in a keyword eg. Event name, date, type" />
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" style="margin-top: 0.4em;">Search</button>
                            </div>
                        </div>
                        <div class="col-lg-3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-content border-bottom text-center p-md">
                    51 people
                </div>
                <div class="ibox-content border-bottom text-center p-md">
                    Common connections
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="ibox-content border-bottom text-center p-md">
                <h4>New events</h4>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-content border-bottom text-center p-md">
                    <div class="row">
                       <%for group_event in @group_events do %>
                        <div class="col-lg-6">

                            <div class="ibox" style="border: 1px solid #f1e4e4; padding: 0px;">
                                <div class="ibox-title" style="background-color: #1ab394; color: #ffffff;">
                                    <h5><%= group_event.try(:event_name)%></h5>
                                </div>
                                <div class="ibox-content" align="center">
                                    <div class="pic-width">
                                        <%= image_tag group_event.event_pic.nthumb.url if group_event.event_pic?%>
                                    </div>
                                    <br />
                                    <div>
                                        <%= group_event.try(:event_date)%>
                                    </div>
                                    <br />
                                    <h4>Info</h4>
                                    <p>
                                         <%= group_event.try(:event_type)%>
                                    </p>
                                    <br />
                                    <!-- Work on rsvp thingy -->
                                </div>
                            </div>
                        </div>
                         <% end %>
                    </div>

                </div>
                <br />
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">
                    Upcoming events
                    <hr />
                    <p align="left">Meet and greet for 2004 year group</p>
                    <p align="left">Eating competition for MEST Alumni</p>
                </div>
            </div>
        </div>
        <div class="col-lg-1">
        </div>
    </div>
</div>
