<div class="row wrapper border-bottom page-heading">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">
                    <div class="row">
                        <div class="col-lg-3">
                        </div>
                        <div class="col-lg-5">
                            <div class="form-group">
                                <input type="text" class="form-control input-lg m-b" placeholder="Search for person" />
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" style="margin-top: 0.4em;">Search</button>
                            </div>
                        </div>
                        <div class="col-lg-3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1">
        </div>
        <div class="col-lg-2 col-md-2">
            <div class="ibox float-e-margins">
                <div class="ibox-content border-bottom text-center p-md" style="background-color: #1ab394; color: #ffffff;">
                    <br />
                    <img src="http://res.cloudinary.com/necthub/image/upload/v1500854799/profile_hq1hjc.jpg" class="img-circle" style="border: 5px solid #ffffff" />
                    <br />
                </div>
                <div class="ibox-content border-bottom text-center p-md">
                    Chris Bimpong
                <hr />
                    Entrepreneur
                <hr />
                    MEST
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-7">
                <% for group_announcement in @group_announcements do%>
                <div class="ibox-content border-bottom text-center p-md">
                    <div class="row">
                        <div class="col-lg-12" align="left">
                            <h3><%= group_announcement.try(:title)%></h3>
                            <hr />
                            <p>
                               <%= group_announcement.try(:description)%>
                            </p>
                            <hr />
                        </div>
                    </div>
                </div>
                <br />
                <%end%>
                <br />

            </div>

        </div>
        <div class="col-lg-2 col-md-1">
        </div>
    </div>
</div>
