<div class="row wrapper border-bottom page-heading">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">
                    <div class="row">
                        <div class="col-lg-3">
                        </div>
                        <div class="col-lg-5">
                            <div class="form-group">
                                <input type="text" class="form-control input-lg m-b" placeholder="Type in a keyword eg. Event name, date, type" />
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" style="margin-top: 0.4em;">Search</button>
                            </div>
                        </div>
                        <div class="col-lg-3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-10">
            <div class="ibox-content border-bottom text-center p-md">
                <h4>New Events!!</h4>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-content border-bottom text-center p-md">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="ibox" style="border: 1px solid #f1e4e4; padding: 0px; box-shadow: #f4f4f4 0px 2px 2px 2px;">
                                <div class="ibox-title" style="background-color: #1ab394; color: #ffffff;">
                                    <h5>Name of Event</h5>
                                </div>
                                <div class="ibox-content">
                                    <div>
                                        Event Date
                                    </div>
                                    <br />
                                    <h4>Info</h4>
                                    <p>
                                        Event Description
                                    </p>
                                    <br />

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="ibox" style="border: 1px solid #f1e4e4; padding: 0px; box-shadow: #f4f4f4 0px 2px 2px 2px;">
                                <div class="ibox-title" style="background-color: #1ab394; color: #ffffff;">
                                    <h5>Name of company</h5>
                                </div>
                                <div class="ibox-content">
                                    <div>
                                        Event Date
                                    </div>
                                    <br />
                                    <h4>Info</h4>
                                    <p>
                                        Event Description
                                    </p>
                                    <br />

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="ibox" style="border: 1px solid #f1e4e4; padding: 0px; box-shadow: #f4f4f4 0px 2px 2px 2px;">
                                <div class="ibox-title" style="background-color: #1ab394; color: #ffffff;">
                                    <h5>Name of company</h5>
                                </div>
                                <div class="ibox-content">
                                    <div>
                                        Event Date
                                    </div>
                                    <br />
                                    <h4>Info</h4>
                                    <p>
                                        Event Description
                                    </p>
                                    <br />

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="ibox" style="border: 1px solid #f1e4e4; padding: 0px; box-shadow: #f4f4f4 0px 2px 2px 2px;">
                                <div class="ibox-title" style="background-color: #1ab394; color: #ffffff;">
                                    <h5>Name of company</h5>
                                </div>
                                <div class="ibox-content">
                                    <div>
                                        Event Date
                                    </div>
                                    <br />
                                    <h4>Info</h4>
                                    <p>
                                        Event Description
                                    </p>
                                    <br />

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1">
        </div>
    </div>
</div>
