<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content text-center p-md">
                            <h2>Post a job description here</h2>
                        </div>
                    </div>
                </div>
            </div>
        <!-- Next one -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content text-center p-md">
                            <h2>Post a job description here</h2>
                        </div>
                    </div>
                </div>
            </div>
    </div>


    <!-- This is the sidebar code -->
    <div class="col-lg-3 white-bg sidebar-outer">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content text-center p-md">
                        <h2>Nice</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
