<div class="row wrapper border-bottom page-heading">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">
                    <form action="" method="post">
                        <input type="text" class="" placeholder="Search" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-content border-bottom text-center p-md">
                    Post something here
                </div>
                <div class="ibox-content border-bottom text-center p-md">
                    Post something here
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="ibox float-e-margins">
                <div class="ibox-content border-bottom text-center p-md">
                    <div class="row">
                        <div class="col-lg-12">
                            Name of person and pic here
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox float-e-margins"><!-- The postings loop from here -->
                <div class="ibox-content border-bottom text-center p-md">
                    <div class="row">
                        <div class="col-lg-12">
                            Name of person and pic here
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">
                    Post something here
                </div>
                <div class="ibox-content text-center p-md">
                    Post something here
                </div>
            </div>
        </div>
        <div class="col-lg-1">
        </div>
    </div>
</div>
