<div class="row wrapper border-bottom page-heading">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">
                    <div class="row">
                        <div class="col-lg-1">
                        </div>
                        <div class="col-lg-5">
                            <div class="form-group">
                                <input type="text" class="form-control input-lg m-b" placeholder="Type in a keyword eg. Company name, Job" />
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <select class="form-control input-lg m-b">
                                    <option>Select a job type</option>
                                    <option>Accounting / Audit / Tax</option>
                                    <option>Administration & Office Support</option>
                                    <option>Agriculture/Farming</option>
                                    <option>Banking / Finance / Insurance</option>
                                    <option>Building Design/Architecture</option>
                                    <option>Construction</option>
                                    <option>Consulting/Business Strategy & Planning</option>
                                    <option>Creatives(Arts, Design, Fashion)</option>
                                    <option>Customer Service</option>
                                    <option>Education/Teaching/Training</option>
                                    <option>Engineering</option>
                                    <option>Executive / Top Management</option>
                                    <option>Healthcare / Pharmaceutical</option>
                                    <option>Hospitality / Leisure / Travels</option>
                                    <option>Human Resources</option>
                                    <option>Information Technology</option>
                                    <option>Legal</option>
                                    <option>Logistics / Transportation</option>
                                    <option>Manufacturing / Production</option>
                                    <option>Marketing / Advertising / Communications</option>
                                    <option>NGO/Community Services & Dev</option>
                                    <option>Oil&Gas / Mining / Energy</option>
                                    <option>Project / Programme Management</option>
                                    <option>QA&QC / HSE</option>
                                    <option>Real Estate / Property</option>
                                    <option>Research</option>
                                    <option>Sales/Business Development</option>
                                    <option>Supply Chain / Procurement</option>
                                    <option>Telecommunications</option>
                                    <option>Vocational Trade and Services</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" style="margin-top: 0.4em;">Search</button>
                            </div>
                        </div>
                        <div class="col-lg-2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-10">
            <div class="ibox-content border-bottom text-center p-md">
                <h4>New job updates</h4>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-content border-bottom text-center p-md">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="ibox" style="border: 1px solid #f1e4e4; padding: 0px; box-shadow: #f4f4f4 0px 2px 2px 2px;">
                                <div class="ibox-title" style="background-color: #1ab394; color: #ffffff;">
                                    <h5>Ghalani</h5>
                                </div>
                                <div class="ibox-content">
                                    <div>
                                        Marketing and Sales Person
                                    </div>
                                    <br />
                                    <h4>Info</h4>
                                    <p>
                                        Will be selling the app to farmers and farm owners
                                    </p>
                                    <br />

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="ibox" style="border: 1px solid #f1e4e4; padding: 0px; box-shadow: #f4f4f4 0px 2px 2px 2px;">
                                <div class="ibox-title" style="background-color: #1ab394; color: #ffffff;">
                                    <h5>AF Radio</h5>
                                </div>
                                <div class="ibox-content">
                                    <div>
                                        Backend Developer
                                    </div>
                                    <br />
                                    <h4>Info</h4>
                                    <p>
                                        Will be building the categories aspect of the code
                                    </p>
                                    <br />

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="ibox" style="border: 1px solid #f1e4e4; padding: 0px; box-shadow: #f4f4f4 0px 2px 2px 2px;">
                                <div class="ibox-title" style="background-color: #1ab394; color: #ffffff;">
                                    <h5>Hubtel</h5>
                                </div>
                                <div class="ibox-content">
                                    <div>
                                        API Architect
                                    </div>
                                    <br />
                                    <h4>Info</h4>
                                    <p>
                                        Be developing the API of the SMS and payment platform
                                    </p>
                                    <br />

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="ibox" style="border: 1px solid #f1e4e4; padding: 0px; box-shadow: #f4f4f4 0px 2px 2px 2px;">
                                <div class="ibox-title" style="background-color: #1ab394; color: #ffffff;">
                                    <h5>GT Bank</h5>
                                </div>
                                <div class="ibox-content">
                                    <div>
                                        Account officer
                                    </div>
                                    <br />
                                    <h4>Info</h4>
                                    <p>
                                        Will be opening accounts for people everywhere at anytime
                                    </p>
                                    <br />

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1">
        </div>
    </div>
</div>
