<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Create Event</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Events</a>
            </li>
            <li class="active">
                <strong>Create event</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h2>Create your event</h2>
                </div>

                <div class="ibox-content">

                    <form method="POST" class="form-horizontal" enctype="multipart/form-data">
                    <br />
                    <div align="center">
                        <p>Fill in your event details here</p>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="container">
                            <div>
                                <label class="control-label">Event Name</label>
                            </div>
                            <br />
                            <div class="col-sm-7">
                                <input type="text" placeholder="Name" class="form-control input-lg m-b" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="container">
                            <div>
                                <label class="control-label">Event Date</label>
                            </div>
                            <br />
                            <div class="col-sm-7">
                                <input type="text" placeholder="Date" class="form-control input-lg m-b" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="container">
                            <div>
                                <label class="control-label">Event Type</label>
                            </div>
                            <br />
                            <div class="col-sm-7">
                                <input type="text" placeholder="Description" class="form-control input-lg m-b" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="container">
                            <div>
                                <label class="control-label">Upload Image</label>
                            </div>
                            <br />
                            <div class="col-sm-7">
                                <input type="file" class="form-control input-lg m-b" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <!-- "a href" link goes back to previous page -->
                            <a href="" class="btn btn-white" >Back</a>
                            <button class="btn btn-primary" type="submit">Create Event!</button>
                        </div>
                    </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>