    <div class="row" style="margin-top: 50px;">
        <div class="col-lg-1">
            
        </div>
        <div class="col-lg-3 col-sm-12 col-xs-12">
            
        </div>
        <div class="col-lg-4 col-sm-12 col-xs-12 animated fadeInDown" align="center">
            <div style="background-color: white;">
                <br />
                <br />
                <div>

                    <img alt="image" src="<%= image_url 'logo12341.png' %>"/>

                </div>
                <h3>Sign In to your account</h3>
                <form class="m-t" role="form" action="#">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" required="" style="width: 50%;">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="********" required="" style="width: 50%;">
                    </div>
                    <button type="submit" style="width: 50%;" class="btn btn-primary block m-b">Log me in!</button>
                    <p class="text-muted text-center">Or Log in with</p>
                    <a class="btn btn-primary btn-block" style="width: 50%; background-color: #3b5998; border: #3b5998" href="#">Facebook</a><br />
                    <a class="btn btn-primary btn-block" style="width: 50%; background-color: #e03030; border: #e03030" href="#">Google</a><br />
                    <a class="btn btn-primary btn-block" style="width: 50%; background-color: #0077b5; border: #0077b5" href="#">LinkedIn</a>
                    <br /><br />
                    <p class="text-muted text-center"><small>Don't have an account?</small></p>
                    <a class="btn btn-sm btn-white btn-block" style="width: 50%;" href="#">Sign up</a>
                </form>
                <br />
                <br />
            </div>
        </div>
        <div class="col-lg-3 col-sm-12 col-xs-12">
            
        </div>
        <div class="col-lg-1">
            
        </div>
        
        

    </div>



