<div class="row  border-bottom white-bg dashboard-header">
    <div class="col-sm-3">
        <br />
        <div class="widget navy-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-users fa-4x"></i>
                <h1 class="m-xs">51</h1>
                <h3 class="font-bold no-margins">
                    Members
                </h3>
                <small>Number of members you have now</small>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="flot-chart dashboard-chart">
            <div class="flot-chart-content" id="flot-dashboard-chart"></div>
        </div>
        <div class="row text-left">
            <div class="col-xs-12">
                <div class=" m-l-md" style="text-align: center;">
                    <span class="h4 font-bold m-t block">Growth</span>
                    <small class="text-muted m-b block">Your monthly membership growth</small>
                </div>
            </div>

        </div>
    </div>
    <div class="col-sm-3">
        <div class="statistic-box">
            <h4>
                Project Beta progress
            </h4>
            <p>
                You have two project with not compleated task.
            </p>
            <div class="row text-center">
                <div class="col-lg-6">
                    <canvas id="polarChart" width="80" height="80"></canvas>
                    <h5>Kolter</h5>
                </div>
                <div class="col-lg-6">
                    <canvas id="doughnutChart" width="78" height="78"></canvas>
                    <h5>Maxtor</h5>
                </div>
            </div>
            <div class="m-t">
                <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
            </div>

        </div>
    </div>

</div>
<div class="row">
<div class="col-lg-12">
<div class="wrapper wrapper-content">
<div class="row">
    <div class="col-lg-3">
        <div class="widget red-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-send fa-4x"></i>
                <h1 class="m-xs">47</h1>
                <h3 class="font-bold no-margins">
                    E-Mails
                </h3>
                <small>Your sent e-mails</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget yellow-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-envelope fa-4x"></i>
                <h1 class="m-xs">32</h1>
                <h3 class="font-bold no-margins">
                    SMS
                </h3>
                <small>Your sent SMS</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget lazur-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-money fa-4x"></i>
                <h1 class="m-xs">42</h1>
                <h3 class="font-bold no-margins">
                    Fundraising
                </h3>
                <small>Your fundraising campaign</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget p-lg text-center" style="background-color: #337ab7;color: #ffffff;">
            <div class="m-b-md">
                <i class="fa fa-magic fa-4x"></i>
                <h1 class="m-xs">50</h1>
                <h3 class="font-bold no-margins">
                    Events
                </h3>
                <small>Your events</small>
            </div>
        </div>
    </div>

</div>
</div>
</div>
        </div>

<% content_for :javascript do %>

<script type="text/javascript">

$(function() {

    setTimeout(function() {
        toastr.options = {
            closeButton: true,
            progressBar: true,
            showMethod: 'slideDown',
            timeOut: 4000
        };
        toastr.success('Get real time updates all the time', 'Welcome to your NectHub dashboard');

    }, 1300);


    var data1 = [
        [1, 3], [2, 5], [3, 7], [4, 9], [5, 12], [6, 14], [7, 17], [8, 17], [9, 23], [10, 27], [11, 30], [12, 30]
    ];
    $("#flot-dashboard-chart").length && $.plot($("#flot-dashboard-chart"), [
        data1
    ],
            {
                series: {
                    lines: {
                        show: false,
                        fill: true
                    },
                    splines: {
                        show: true,
                        tension: 0.4,
                        lineWidth: 1,
                        fill: 0.4
                    },
                    points: {
                        radius: 0,
                        show: true
                    },
                    shadowSize: 2
                },
                grid: {
                    hoverable: true,
                    clickable: true,
                    tickColor: "#d5d5d5",
                    borderWidth: 1,
                    color: '#d5d5d5'
                },
                colors: ["#1ab394"],
                xaxis: {
                },
                yaxis: {
                    ticks: 4
                },
                tooltip: false
            }
    );

    var doughnutData = [
        {
            value: 300,
            color: "#a3e1d4",
            highlight: "#1ab394",
            label: "App"
        },
        {
            value: 50,
            color: "#dedede",
            highlight: "#1ab394",
            label: "Software"
        },
        {
            value: 100,
            color: "#A4CEE8",
            highlight: "#1ab394",
            label: "Laptop"
        }
    ];

    var doughnutOptions = {
        segmentShowStroke: true,
        segmentStrokeColor: "#fff",
        segmentStrokeWidth: 2,
        percentageInnerCutout: 45, // This is 0 for Pie charts
        animationSteps: 100,
        animationEasing: "easeOutBounce",
        animateRotate: true,
        animateScale: false,
    };

    var ctx = document.getElementById("doughnutChart").getContext("2d");
    var DoughnutChart = new Chart(ctx).Doughnut(doughnutData, doughnutOptions);

    var polarData = [
        {
            value: 300,
            color: "#a3e1d4",
            highlight: "#1ab394",
            label: "App"
        },
        {
            value: 140,
            color: "#dedede",
            highlight: "#1ab394",
            label: "Software"
        },
        {
            value: 200,
            color: "#A4CEE8",
            highlight: "#1ab394",
            label: "Laptop"
        }
    ];

    var polarOptions = {
        scaleShowLabelBackdrop: true,
        scaleBackdropColor: "rgba(255,255,255,0.75)",
        scaleBeginAtZero: true,
        scaleBackdropPaddingY: 1,
        scaleBackdropPaddingX: 1,
        scaleShowLine: true,
        segmentShowStroke: true,
        segmentStrokeColor: "#fff",
        segmentStrokeWidth: 2,
        animationSteps: 100,
        animationEasing: "easeOutBounce",
        animateRotate: true,
        animateScale: false,
    };
    var ctx = document.getElementById("polarChart").getContext("2d");
    var Polarchart = new Chart(ctx).PolarArea(polarData, polarOptions);

});

</script>

<% end %>