<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0; background-color: #1ab394; box-shadow: #bfbfbf 0em 0em 1em 0em;">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 " href=""><img alt="NectHub" src="<%= image_url 'logo12342.png' %>" style="margin-left: 7em;" width="100px" height="35px" /></a>
            <a href="" class="btn btn-primary" id="donate_button">Donate <i class="fa fa-heart"></i></a>
            <a href="" class="btn btn-primary links_margin_top" id="home_link"><i class="fa fa-home"></i> Home</a>
            <%#<a href="" class="btn btn-primary links_margin_top" id=""><i class="fa fa-briefcase"></i></a>
            <a href="" class="btn btn-primary links_margin_top" id=""><i class="fa fa-magic"></i></a>%>
            <%= link_to jobs_users_path  , :class => "btn btn-primary links_margin_top" do %>
                <i class="fa fa-briefcase"></i> Jobs
                <% end %>
            <%= link_to events_users_path , :class => "btn btn-primary links_margin_top" do %>
                <i class="fa fa-magic"></i> Events
                <% end %>



        </div>
        <ul class="nav navbar-top-links navbar-right" style="margin-right: 6.5em;">

            <li>
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="text-muted text-xs block" style="color: white;">Me <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeIn m-t-xs">
                        <li><a href="">Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="">Log out</a>
                        </li>
                    </ul>

            </li>

        </ul>
    </nav>
</div>